.mainUploader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    

input.input-field {
    display: none;
}
  
 
.icon {
    color: #1475cf;
    font-size: 60px;
    margin-bottom: 15px; 
}
  
p {
    margin: 5px 0;
    color: #333;
    font-size: 16px; 
    text-align: center;/
}
  
 
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    border-radius: 12px;
    height: 750px;
    width: 100%;
    cursor: pointer;
    background-color: var(--clr-grey);
    transition: background-color 0.3s ease;
}
  

form.dragging {
    background-color: #d0efff; 
    border-color: #005f9f; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
  

form:hover {
    background-color: var(--clr-grey-hover);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


@media (max-width: 600px) {
    form {
        min-height: 500px; 
    }
}


@media (min-width: 1200px) {
    form {
        max-height: 550px; 
        width: 100%; 
    }
}


@media (min-width: 1366px) and (max-width: 1920px) {
    form {
        max-height: 520px; 
        width: 100%; 
    }
}


@media (min-width: 1920px) {
    form {
        max-height: 100%; 
        width: 100%; 
    }
}