@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #355c7d; 
  --clr-primary-light: #2f4b7c; 
  --clr-background-gradient:linear-gradient(180deg, #00BFFF, #002B5B);
  --clr-secondary: hsl(220, 10%, 94%); 
  --clr-white: #fff; 
  --clr-black: #000; 
  --clr-pumpkin: #4fc3f7; 
  --clr-silver: #dce2f0; 
  --clr-silver-v1: #b3c5e8; 
  --clr-scarlet: #2b6ca3; 
  --clr-scarlet-v1: rgba(43, 108, 163, 0.79); 
  --clr-green: #00bfff; 
  --clr-yellow: #b0e0e6;
  --clr-jet: #1b3a57; 
  --clr-blueheader: #1565c0;
  --clr-peach: #89cff0;
  --clr-grey: #f0edede7;
  --clr-grey-hover: #c5c3c3e7;
  --font-family-bai: "Montserrat", sans-serif;
  --transition-default: all 300ms ease-in-out;
}

body {
  font-family: var(--font-family-bai);
  overflow: hidden;
}

ul {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  color: var(--clr-white);
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  color: var(--clr-white);
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}

.text-sm {
  font-size: 14px;
}

.app{
  display: flex;
  min-height: 100vh;
}