/* Estilo para el contenedor de la tabla */
.table-wrapper {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    overflow-x: auto;
    overflow-y: auto;
}


@media (max-width: 600px) {
    .table-wrapper {
        max-height: 300px; 
    }
}


@media (min-width: 1200px) {
    .table-wrapper {
        max-height: 485px; 
        width: 100%; 
    }
}


@media (min-width: 1920px) {
    .table-wrapper {
        max-height: 700px; 
        width: 100%; 
    }
}